.side_nav{
  background-color: aliceblue;
  width: 100%;
  padding: 0 1rem;
}
.tab_link{
  color: black !important;
  font-size: 1.2rem;
  font-weight: 600;
  font-style: normal;
}
.tab_item{
  cursor: pointer;
}
.nav-link.active{
  background-color: #d4e8f6 !important;
}
.project_main{
  display: flex;
}
@keyframes cardHover {
  0%{transform: scale(1,1);}
  50%{transform: scale(1.05,1.05);}
  100%{transform: scale(1,1);}
}
.project_card:hover{
  cursor: pointer;
  background-color: #2a89ff;
  color: white;
  font-weight: 500;
  animation: cardHover 1s linear ;
}
@media(max-width:640px){
  .project_main{
    flex-direction: column;
  }
  .resume_second_section{
    margin-top: 2rem;
  }
}