.about_main{
  /* background-color: #ffbf00; */
  display: flex;
}
.heading_about{
  width: 100%;
  text-align: center;
}
.heading_about > h1{
  padding: 2rem 0;
  color: black;
}
.about_para{
  min-height: 40vh;
  height: 100%;
  text-align: left;
  padding: 1rem 1rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  word-wrap: break-word;
  line-height: 45px;
}
.aboutProfile{
  width: 40%;
  height: 90%;
}
.about_first_section{
  text-align: center;
}
@media(max-width:920px){
  .about_main{
    flex-direction: column;
  }
}
@media (max-width:720px){
  .about_para{
    padding: 1rem 3rem;
    height: 100%;
  }
}